@import "colors.css";

.App {

    background-color: var(--primary);
}

.landing-container {
    display: flex;
    color: var(--white);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.landing-container h1 {
    text-transform: uppercase;
    margin: 0;
    font-size:8rem;
}

.menu {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-transform: uppercase;
    margin: 25px;
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
} 